[submodule "third_party/llvm-project"]
	path = third_party/llvm-project
	url = https://github.com/llvm/llvm-project.git
	ignore = dirty
	shallow = true
	branch = main
[submodule "third_party/dawn"]
	path = third_party/dawn
	url = https://github.com/google/dawn.git
	fetchRecurseSubmodules = false
	shallow = true
